<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Opinion mining</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <script src="../static/js/main.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Opinion mining</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
              </div>
        </nav>
        <main role="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Subjective/Objective phrases classifier</h1>
                    <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
                    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>-->
                </div>
            </div>
            <div class="container">
                 <div class="row">
                    <div class="col-md-12">
                        <h2>Input news article here</h2>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">News Article</span>
                            </div>
                            <textarea id="article" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                        <p><button class="btn btn-secondary" type="button" id="classify-button">Submit</button></p>
                    </div>
                </div>
                <div class="row" id="result" style="display: none">
                    <div class="col-md-12">
                        <h2>Result</h2>
                        <!--<div class="input-group mb-3">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<span class="input-group-text">News Article</span>-->
                            <!--</div>-->
                            <!--<textarea class="form-control" aria-label="With textarea"></textarea>-->
                        <!--</div>-->
                        <div class="form-control"></div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="container">
            <p>© vikua projector nlp course</p>
        </footer>

    </body>
</html>